<template lang="pug">
  .container-fluid
    div
      .d-flex.justify-content-end.my-2
        b-button.mx-2.fixed-width-160(v-b-toggle.seikeiki-selector variant="success") セレクター表示切替
        b-button.fixed-width-160(@click="fullScreenToggle" variant="success") 全画面表示切替
      .d-flex.justify-content-center
        b-collapse#seikeiki-selector(visible)
          b-form-checkbox-group(v-model="selectedSeikeikis" switches)
            b-form-checkbox(v-for="(seikeiki, index) in seikeikis" :key="seikeiki" :value="seikeiki"
              :disabled="isReachedMaxShowingSeikeikis(seikeiki)")
              | {{ `成型機${seikeiki}` }}

    draggable(v-model="selectedSeikeikis" :selectedSeikeikis="selectedSeikeikis" ghost-class="ghost" handle=".handle")
      div(v-for="(seikeiki, index) in selectedSeikeikis" :key="seikeiki")
        i.fas.fa-arrows-alt.handle.d-block
        LineChart(:currentSeikeiki="seikeiki")
</template>

<script>
import draggable from 'vuedraggable'
import screenfull from 'screenfull'
import LineChart from './LineChart'

const maxShowingSeikeikis = 5

export default {
  components: {
    draggable,
    LineChart
  },
  data() {
    return {
      seikeikis: [],
      selectedSeikeikis: []
    }
  },
  created() {
    // TODO: send request to fetch seikeiki ids. Below is procedures after successfully fetching seikeiki ids
    this.seikeikis = [1, 2, 3, 4, 5, 6, 7, 8, 9]
  },
  methods: {
    isReachedMaxShowingSeikeikis(currentSeikeiki) {
      return this.selectedSeikeikis.length === maxShowingSeikeikis && this.selectedSeikeikis.indexOf(currentSeikeiki) === -1
    },
    fullScreenToggle() {
      if (screenfull.isEnabled) {
        screenfull.toggle()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.graphs.show {
  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  .handle {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .fixed-width-160 {
    width: 160px;
  }
}
</style>
