<template lang="pug">
  div
    div.chart-title
      h3
        b 成型機{{currentSeikeiki}}　
        | プロダクトコード：{{ latestSeikeikiDatum.product_code }}　ロットナンバー：{{ latestSeikeikiDatum.lot_number }}
    LatestSeikeikiDatum(:latestSeikeikiDatum='latestSeikeikiDatum' :showExtraInfos='true')
    highcharts.chart(:options="chartOptions" :updateArgs="updateArgs" v-if="validConfig" ref="highcharts")
    p.text-center.text-danger.text-uppercase(v-else) {{ errorMessage }}
</template>

<script>
import _ from 'lodash'
import axios from 'axios'
import LatestSeikeikiDatum from '../MachineStates/LatestSeikeikiDatum'

export default {
  components: {
    LatestSeikeikiDatum
  },
  props: {
    currentSeikeiki: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      latestSeikeikiDatum: {},
      validConfig: false,
      errorMessage: '',
      updateArgs: [true, true, { duration: 1000 }],
      chartOptions: {
        chart: {
          events: {
            redraw(event) {
              // TODO: Recalculate malfunction point. Comment for now due to performance issue
              // // TODO: Pass malfunction point from server or calculate from fetched datas. This is just a fake fixed point
              // let malfunctionPointXValue = event.target.series[0].points[5].x
              // // Remove added plotLines or plotBands that has id 'malfunction'
              // let currentPlotLinesAndBands = this.xAxis[0].plotLinesAndBands
              // if (currentPlotLinesAndBands.length > 0) {
              //   _.forEach(currentPlotLinesAndBands, function(plotLineOrBand) {
              //     if (plotLineOrBand.id === 'malfunction') {
              //       plotLineOrBand.destroy()
              //     }
              //   })
              // }
              // // Add plotLine with id 'malfunction'
              // this.xAxis[0].addPlotLine({
              //   color: 'red',
              //   id: 'malfunction',
              //   label: { text: 'Malfunction position' },
              //   value: malfunctionPointXValue,
              //   width: 2,
              //   zIndex: 9999
              // })
            }
          },
          panKey: 'shift',
          panning: true,
          type: 'line',
          zoomType: 'x'
        },
        credits: { enabled: false },
        data: {
          enablePolling: true,
          firstRowAsNames: false,
          rowsURL: `${window.location.origin}/api/graph.json?seikeiki_id=${this.currentSeikeiki}`,
          seriesMapping: [
            { x: 0, y: 1 },
            { x: 0, y: 2 },
            { x: 0, y: 3 },
            { x: 0, y: 4 },
            { x: 0, y: 5 },
            { x: 0, y: 6 },
            { x: 0, y: 7 },
            { x: 0, y: 8 },
            { x: 0, y: 9 },
            { x: 0, y: 10 }
          ]
        },
        title: { text: '' },
        xAxis: [
          {
            labels: { format: '{value:%H:%M:%S}' },
            title: { text: '時間' },
            type: 'datetime',
            crosshair: true
          }
        ],
        yAxis: [{ title: { text: '成型機データ' } }]
        // plotOptions: {
        //   series: {
        //     turboThreshold: 5000 // increase threshold or set to 0 to disable when you have too much points on graph
        //   }
        // }
      }
    }
  },
  created() {
    this.fetchConfigData()

    setInterval(() => {
      this.fetchConfigData()
    }, 3000)
  },
  methods: {
    fetchConfigData() {
      axios.get(`${window.location.origin}/api/configs.json?seikeiki_id=${this.currentSeikeiki}`).then(fetchedConfigs => {
        this.latestSeikeikiDatum = fetchedConfigs.data.latest_seikeiki_datum
        this.validConfig = fetchedConfigs.data.valid_config
        if (this.validConfig === true) {
          this.chartOptions = _.merge(this.chartOptions, fetchedConfigs.data.chartOptions)

          if (this.$refs.highcharts) {
            let chart = this.$refs.highcharts.chart
            _.forEach(fetchedConfigs.data.disp_fs, (disp_f, index) => {
              chart.series[index].update({ name: fetchedConfigs.data.chartOptions.series[index].name, visible: disp_f })
            })
          } else {
            _.forEach(fetchedConfigs.data.disp_fs, (disp_f, index) => {
              this.chartOptions.series[index].visible = disp_f
            })
          }
        } else {
          this.errorMessage = fetchedConfigs.data.error_message
        }
      })
    }
  }
}
</script>

<style lang="scss">
table {
  th,
  td {
    padding: 0 !important;
  }
}
</style>
