<template lang="pug">
  .container-fluid
    b-form(@submit.prevent="submit")
      .row.my-3
        .col-6
          #seikeiki-select
            v-select(:options="options" :filterable="false" @search="onSearch" @input="fetchSettingInfos")
        .col-6
          .d-flex.justify-content-end
            b-button.fixed-btn.ml-4(:disabled="$v.$invalid" type="submit" variant="success") 保存
      table.table.my-3
        thead
          tr
            th(scope="col")
            th(scope="col") 表示
            th(scope="col") タイトル
            th(scope="col") 下限値
            th(scope="col") 上限値
            th(scope="col") スケール
            th(scope="col") オフセット
        tbody
          tr(v-for="settingInfo in $v.settingInfos.$each.$iter" :key="settingInfo.id")
            th(scope="row") 値{{ settingInfo.$model.value_id }}
            td
              b-form-select(:options="disp_f" v-model="settingInfo.$model.disp_f")
            td
              b-form-input(:state="settingInfo.title.$invalid ? false : null" maxlength="15" required=true type="text" v-model="settingInfo.$model.title")
              b-form-invalid-feedback.text-left(v-if="settingInfo.title.$invalid" :state="false")
                span(v-if="!settingInfo.title.required")
                  | Title is required.
                  |
            td
              b-form-input(:formatter="maxLengthInputFormatter" :state="settingInfo.lower_limit.$invalid ? false : null" @keypress="numberInputFormatter"
                max=99999.999 min=-99999.999 number=true required=true step=0.001 type="number" v-model="settingInfo.$model.lower_limit")
              b-form-invalid-feedback.text-left(v-if="settingInfo.lower_limit.$invalid" :state="false")
                span(v-if="!settingInfo.lower_limit.required")
                  | Lower limit is required.
                  |
                span(v-if="!settingInfo.lower_limit.decimal")
                  | Lower limit must be numeric.
                  |
                span(v-if="!settingInfo.lower_limit.between")
                  | 下限値は {{ settingInfo.lower_limit.$params.between.min }} 〜 {{ settingInfo.lower_limit.$params.between.max }} の範囲で入力してください
                  |
            td
              b-form-input(:formatter="maxLengthInputFormatter" :state="settingInfo.upper_limit.$invalid ? false : null" @keypress="numberInputFormatter"
                max=99999.999 min=-99999.999 number=true required=true step=0.001 type="number" v-model="settingInfo.$model.upper_limit")
              b-form-invalid-feedback.text-left(:state="false" v-if="settingInfo.upper_limit.$invalid")
                span(v-if="!settingInfo.upper_limit.required")
                  | Upper limit is required.
                  |
                span(v-if="!settingInfo.upper_limit.decimal")
                  | Upper limit must be numeric.
                  |
                span(v-if="!settingInfo.upper_limit.between")
                  | 上限値は {{ settingInfo.upper_limit.$params.between.min }} 〜 {{ settingInfo.upper_limit.$params.between.max }} の範囲で入力してください
                  |
            td
              b-form-input(:formatter="maxLengthInputFormatter" :state="settingInfo.scale.$invalid ? false : null" @keypress="numberInputFormatter"
                max=99999.999 min=1.000 number=true required=true step=0.001 type="number" v-model="settingInfo.$model.scale")
              b-form-invalid-feedback.text-left(:state="false" v-if="settingInfo.scale.$invalid")
                span(v-if="!settingInfo.scale.required")
                  | Scale is required.
                  |
                span(v-if="!settingInfo.scale.decimal")
                  | Scale must be numeric.
                  |
                span(v-if="!settingInfo.scale.between")
                  | スケールは {{ settingInfo.scale.$params.between.min }} 〜 {{ settingInfo.scale.$params.between.max }} の範囲で入力してください
                  |
            td
              b-form-input(:formatter="maxLengthInputFormatter" :state="settingInfo.offset.$invalid ? false : null" @keypress="numberInputFormatter"
                max=99999.999 min=-99999.999 number=true required=true step=0.001 type="number" v-model="settingInfo.$model.offset")
              b-form-invalid-feedback.text-left(:state="false" v-if="settingInfo.offset.$invalid")
                span(v-if="!settingInfo.offset.required")
                  | Offset is required.
                  |
                span(v-if="!settingInfo.offset.decimal")
                  | Offset must be numeric.
                  |
                span(v-if="!settingInfo.offset.between")
                  | オフセットは {{ settingInfo.offset.$params.between.min }} 〜 {{ settingInfo.offset.$params.between.max }} の範囲で入力してください
                  |
</template>

<script>
import { required, decimal, between, maxLength } from 'vuelidate/lib/validators'
import axios from 'axios'
import _ from 'lodash'

export default {
  data() {
    return {
      disp_f: [
        { value: false, text: 'しない' },
        { value: true, text: 'する' }
      ],
      options: [],
      settingInfos: []
    }
  },
  methods: {
    fetchSettingInfos(selectedOption) {
      if (_.isEmpty(selectedOption)) {
        return
      }
      axios
        .get(
          `${window.location.origin}/api/setting`,
          { params: { seikeiki_id: selectedOption.seikeiki_id, product_code: selectedOption.product_code } },
          { headers: { 'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content') } }
        )
        .then(response => {
          this.settingInfos = response.data
        })
        .catch(error => {
          console.error(error.response.data.error)
        })
    },
    // TODO: fill reset method when reset button is added back to the spec
    // reset() {
    //   this.$v.$reset
    //   $('.invalid-feedback').remove()
    // },
    maxLengthInputFormatter(value, event) {
      const maxLength = event.target.min.length > event.target.max.length ? event.target.min.length : event.target.max.length
      if (value.length > maxLength) {
        return (event.target.value = event.target.value.slice(0, maxLength))
      } else {
        return value
      }
    },
    numberInputFormatter(character) {
      character = character ? character : window.event
      const characterCode = character.which ? character.which : character.keyCode
      if ((characterCode < 48 && characterCode !== 45 && characterCode !== 46) || characterCode > 57) {
        character.preventDefault()
      } else {
        return true
      }
    },
    onSearch(search, loading) {
      if (!_.isEmpty(search)) {
        loading(true)
        this.search(loading, search, this)
      }
    },
    search: _.debounce((loading, search, vm) => {
      axios
        .get(
          `${window.location.origin}/api/setting`,
          { params: { keyword: search } },
          { headers: { 'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content') } }
        )
        .then(response => {
          vm.options = response.data
          loading(false)
        })
    }, 350),
    submit() {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        const settingData = _.map(this.settingInfos, settingInfo => {
          return _.pick(settingInfo, [
            'id',
            'value_id',
            'disp_f',
            'title',
            'lower_limit',
            'upper_limit',
            'scale',
            'offset',
            'seikeiki_id',
            'product_code'
          ])
        })

        axios
          .patch(
            `${window.location.origin}/api/setting`,
            { settings: { setting_infos_attributes: settingData } },
            { headers: { 'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content') } }
          )
          .then(response => {
            console.log(response.data.message)
          })
      }
    }
  },
  validations: {
    settingInfos: {
      required,
      $each: {
        disp_f: { required },
        title: { required, maxLength: maxLength(15) },
        lower_limit: { required, decimal, between: between(-99999.999, 99999.999) },
        upper_limit: { required, decimal, between: between(-99999.999, 99999.999) },
        scale: { required, decimal, between: between(1.0, 99999.999) },
        offset: { required, decimal, between: between(-99999.999, 99999.999) }
      }
    }
  }
}
</script>

<style lang="scss">
.settings.show {
  font-size: 15pt;

  #seikeiki-select {
    background-color: #f3f3f3;
    border-radius: 0.25rem; // same as rounded class
    width: 70%;

    select {
      background-color: #eee;
    }
  }

  table {
    thead {
      background-color: #cfe2f3;

      tr {
        th {
          border-bottom: 1px solid black;

          &:first-child {
            background-color: white;
            border: none !important;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          background-color: #cfe2f3;
        }

        &:nth-of-type(even) {
          background-color: #fdf2cc;
        }
      }
    }

    th,
    td {
      border: 1px solid black;
      vertical-align: middle;
    }
  }

  .fixed-btn {
    width: 7em;
    font-size: 15pt;
  }
}
</style>
