<template lang="pug">
  table.table
    thead
      tr
        th(scope="col") 取込時間
        th(scope="col") 値1のデータ
        th(scope="col") 値2のデータ
        th(scope="col") 値3のデータ
        th(scope="col") 値4のデータ
        th(scope="col") 値5のデータ
        th(scope="col") 値6のデータ
        th(scope="col") 値7のデータ
        th(scope="col") 値8のデータ
        th(scope="col") 値9のデータ
        th(scope="col") 値10のデータ
    tbody
      tr(v-if="showExtraInfos")
        td(rowspan="3") {{ formatDatetime(latestSeikeikiDatum.datetime) }}
        td(v-for="value_id in valuePerSeikeikiQuantity")
          | {{ latestSeikeikiDatum[`value${value_id}_upper`] }}
      tr(v-if="hasImportError")
        td ---
        td(v-for="value_id in valuePerSeikeikiQuantity")
          | ---
      tr(v-else)
        td(v-show="!showExtraInfos") {{ formatDatetime(latestSeikeikiDatum.datetime) }}
        td(v-for="value_id in valuePerSeikeikiQuantity" :class="{ 'text-danger': latestSeikeikiDatum[`value${value_id}_err_f`] === true }")
          b(v-if="showExtraInfos") {{ latestSeikeikiDatum[`value${value_id}`] }}
          span(v-else) {{ latestSeikeikiDatum[`value${value_id}`] }}
      tr(v-if="showExtraInfos")
        td(v-for="value_id in valuePerSeikeikiQuantity")
          | {{ latestSeikeikiDatum[`value${value_id}_lower`] }}

</template>

<script>
import moment from 'moment'

export default {
  props: {
    hasImportError: {
      type: Boolean,
      required: false
    },
    latestSeikeikiDatum: {
      type: Object,
      required: true
    },
    showExtraInfos: {
      type: Boolean,
      required: false
    }
  },
  data() {
    return {
      valuePerSeikeikiQuantity: 10
    }
  },
  methods: {
    formatDatetime(datetime) {
      return moment(datetime).format('MM/DD HH:mm:ss')
    }
  }
}
</script>

<style lang="scss">
table {
  text-align: center;

  thead {
    tr {
      th {
        background-color: #cfe2f3;
      }
    }
  }

  th,
  td {
    border: 1px solid black !important;
    vertical-align: middle !important;
    width: 9%;

    &:first-child {
      width: 10%;
    }
  }
}
</style>
