<template lang="pug">
  .container-fluid
    #seikeiki-state(v-for="machineStateDatum in machineStateData" :key="machineStateDatum.seikeiki_id")
      p.font-weight-bold.h4 成型機{{ `${machineStateDatum.seikeiki_id}　` }}
        span.text-danger(v-show="machineStateDatum.has_import_error")
          | {{ ` ${errorMessages.hasImportError}` }}
        span.text-danger(v-show="!machineStateDatum.has_import_error && machineStateDatum.has_abnormal_value")
          | {{ ` ${errorMessages.hasAbnormalValue}` }}

      LatestSeikeikiDatum(:latestSeikeikiDatum='machineStateDatum.latest_seikeiki_datum' :hasImportError="machineStateDatum.has_import_error")
      .d-flex.justify-content-end
        table.table.abnormal(v-show="!machineStateDatum.has_import_error")
          tbody
            tr(v-for="rowIndex in machineStateDatum.latest_abnormal_data_quantity")
              td(v-for="(abnormalDatum, index) in machineStateDatum.latest_abnormal_data")
                span(v-if="abnormalDatum[rowIndex - 1]")
                  | {{ `${formatDatetime(abnormalDatum[rowIndex - 1].datetime)}` }}
                  |
                  | {{ `${abnormalDatum[rowIndex - 1][`value${index + 1}`]}` }}
                span(v-else) ---
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import LatestSeikeikiDatum from './LatestSeikeikiDatum'

export default {
  components: {
    LatestSeikeikiDatum
  },
  data() {
    return {
      machineStateData: [],
      errorMessages: {
        hasAbnormalValue: '異常値があります',
        hasImportError: 'データが取り込めていません'
      }
    }
  },
  created() {
    this.fetchMachineStateData()

    setInterval(() => {
      this.fetchMachineStateData()
    }, 3000)
  },
  methods: {
    formatDatetime(datetime) {
      return moment(datetime).format('MM/DD HH:mm:ss')
    },
    fetchMachineStateData() {
      axios.get(`${window.location.origin}/api/machine_state`).then(fetchedMachineStateData => {
        this.machineStateData = fetchedMachineStateData.data
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.machine_states.show {
  #seikeiki-state {
    &:first-child {
      margin-top: 1rem;
    }
  }

  table {
    text-align: center;

    th,
    td {
      border: 1px solid black !important;
    }

    &.abnormal {
      width: 90%;

      tbody {
        background-color: #eee;

        tr {
          td {
            font-size: 12px;
            padding: 4px;
            width: 10%;
          }
        }
      }
    }
  }
}
</style>
