doctype html
html
  head
    title
      | SensorInfoMonitoringSystem
    = csrf_meta_tags
    = csp_meta_tag
    meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "application", "data-turbolinks-track": "reload"
  = content_tag :body, class: specific_page_vue do
    = yield
